<html>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
  <h3>Websocket Test</h3>

  <h2>Client: {{ .clientId }} logs</h2>

  <pre id="output"></pre>

  <script>
    const URL = 'ws://{{ .domain }}/ws'
    const socket = new WebSocket(URL)

    const send = function (data) {
      socket.send(data)
    }

    socket.onmessage = function (message) {
      console.log('Incoming Message', message)
      $('#output').append(message.data + "\n")
    }

    socket.onopen = () => {
      setInterval(function () {
        console.log('Sending Ping')
        send("Ping")
      }, 60 * 60 * 1000)

      send(JSON.stringify({
        event: 'identity',
        payload: {
          local: false,
          peerId: {{ .clientId}}
        }
      }))
    }
  </script>
</body>

</html>
