name: Check

on:
  push:
    branches:
      - 'master'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Format
      run: gofmt -w -s .

    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: "chore(format): automated format change"
        branch: master

    - name: Build
      run: go build -v ./...
